<h1>Your Grocery List</h1>

<table id="table"  class="table table-striped child" style="width:100%">
    <tr>
          <th>Item</th>
          <th>Check</th>
    </tr>
      <% if @items%>
        <% @items.each do |t| %>
          <tr>
            <td  class = "product-name" ><%= t[0]%></td>
            <td>
               
                    <input type="checkbox" /></input>
                
            </td>
          </tr>
        <%end%>
        
    
       <%end%>
</table>
<center>
<button class = "btn">
  <a href="#" onclick="window.print();return false;">Print</a> 
</button>
</center>



